.IM-main-search-icon{
	position: relative;
    /*top: -8px;*/
	width:20px;
	height: 20px;
	fill: gray;
	padding: 5px 5px 5px 10px;
}
.IM-main-search{
	height: 30px;
    background: #26292f;
    margin: 0 auto;
    width: 245px;
    position: relative;
}
.IM-main-search-input{
	background: transparent;
	color: gray;
	margin-top: 6px;
	outline: none;
	vertical-align: top;
	border: none;
	width: 200px;
}
