.IM-message-left-container{
	text-align: left;
    padding: 10px 20px;
}
.IM-message-left-text{	
	position: relative;
	margin: 0;
    display: inline-block;
    background: #ffffff;
    color: black;
    max-width: 300px;
    vertical-align: top;
    word-wrap: break-word;
    line-height: 42px;
    padding: 0 12px;
    text-align: left;
    margin:0 10px;
    border-radius: 3px
}
.IM-message-left-headImg{
	width: 40px;
    height: 40px;
    vertical-align: top;
}
.IM-message-left-text::before{
	content: ' ';
    position: absolute;
    border-top: 8px solid transparent;
    border-right: 8px solid #ffffff;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    top: 5px;
    left: -16px;
}