@keyframes rotate{
	from{
		transform: rotateZ(0);
	}
	to{
		transform: rotateZ(360deg);
	}
}
.IM-normal-button{
	border:1px solid #d1d1d1;
	background: white;
}
.IM-normal-button label{
	white-space: nowrap;
}
.IM-normal-button:hover{
	background: whitesmoke;
	cursor: pointer;
}
.IM-normal-button:active{
	outline: none;
	border:1px solid #999;
}

.IM-normal-loading{
	width: 25px;
	display: none;
	padding: 0 19px 0 19px;
	animation: rotate 1.5s linear infinite;
} 